html {
    width: 850px;
}

body{
    width: 850px;

}

#Romney {
       float: left;
   }

header  {
    background: #2A5070;
    width: 100%;
    padding: 1px;
    text-align: center;
    height: 192px;
}

h1 {
    color: linen;
    padding-top: 30px;
}
h3 {
    text-align: center;
}
#calculator {
    color: #2A5070;
    width: 800px;
    padding : 30px;
    width: 800px;
}


#priceBox, #widthBox, #lengthBox, #quantityBox, #areaCostBox {
    text-align: right;
    float: right;
}

#formLeft {
 float:left;
}

#formLeft, #formRight {
    text-align: right;
}

#formLeft {
    float:left;
    padding-left:50px;
}

#formRight {
    float: right;
}

.badBox {
    background: red;
    color: white;
}


